.columns {
  float: left;
  width:250px;
  padding:5px;
}
.language {
  color: skyblue;
  font-weight: bold;
}
body {
  font-family: sans-serif;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.point {
  color: skyblue;
  font-weight: bold;
}
.flexpart{
  display: flex;
  flex-direction: row;
}
#row1 {
  margin-left:10%;
}
#row2 {
  margin-left:20%;
}
h2 {
  text-align: center;
  color: #4CAF50;
  background-color: #F6F6F6;
  padding:10px;
}
img {
  border-radius: 8px;
  float: left;
  margin-right: 10px;
}
